@font-face {
    font-family: MYROID thin;
    src: url(../fonts/thinmyroid.otf);
}

@font-face {
    font-family: MYROID PRO;
    src: url(../fonts/myroid.ttf);
}
@font-face {
    font-family:OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family:OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
container{
	width:1233px;
}
body{
	overflow-x:hidden;
}
a{
	color:#fff;
	padding:0;
	text-decoration:none;
}
.pad{
	padding:0;
}

/*--------------------------header----------------------------------*/
header{
    height:725px;
    background-image: url("../images/banner.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}
header .subheader h3{
	float:right;
	color:#fff;
	font-size:48px;
	font-family: MYROID PRO;
}
header .nav-mid{
    margin-top:25px;
}
header .nav-rite{
    margin-top:20px;
}
header .nav-mid li{
	display:inline;
	color:#fff;
	font-size:14px;
	margin:0 10px;
	font-family: MYROID thin;
}
header .nav-rite{
	float:right;
}
header .nav-rite li{
	display:inline;
	color:#fff;
	font-size:14px;
	margin:0 10px;
	font-family: MYROID thin;
}
header .nav-rite button{
	background-color:#2c70ce;
	border-radius:0;
	border:none;
	width:140px;
	color:#fff;
	font-size:14px;
	font-family: MYROID thin;
}
.speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
	height:336px;
	width:660px;
	float:right;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}

header .allimg{
	margin: 10px 40px 10px 19px;
}
header .allimg img{
	margin:16px 0 0 0;
}
/*header-closed*/


/*--------------------------plumb force----------------------------------*/

.blue-box{
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 57%);
   clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 57%);
   background-color:#2c70ce;
   height:687px;
   width:1161px;
   position: relative;
   margin-top: -131px;
   background-attachment:fixed;
}
.blue-box .blue-box-left{
	margin-left:72px;
	margin-top:70px;
}
.blue-box .blue-box-left h3{
	font-size:55px;
	color:#fff;
	font-family: MYROID PRO;
	text-transform:uppercase;
} 
.blue-box .blue-box-left span{
	font-size:42px;
	color:#fff;
	font-family: MYROID thin;
	text-transform:uppercase;
	display:block;
	margin-top:10px;
} 
.blue-box .blue-box-left p{
	font-size:14px;
	color:#fff;
	width: 83%;
	margin-top:30px;
	font-family: MYROID thin;
}
.blue-box .blue-box-right{
	margin-top:35px;
}
.blue-box .blue-box-right .img-col{
	margin:50px 0;
}
.blue-box .blue-box-right .img-col img{
	height:46px;
}
.blue-box .blue-box-right .img-col h5{
	font-size:18px;
	color:#fff;
	width: 70%;
	font-family: MYROID thin;
}
.blue-box .blue-box-right .img-col span{
	display:block;
}

.blue-box .blue-box-right .btn-col{
	float:right;
	margin-right:77px;
}
.blue-box .blue-box-right .btn-col button{
	background-color:#fff;
	border-radius:0;
	width:190px;
	height:54px;
	color:#2c70ce;
	font-family: MYROID thin;
	font-size:18px;
}
.blue-box .blue-box-right .btn-col button:hover{
	opacity:0.9;
	color:#000;
}

/*plumb-force-closed*/


/*-----------------------------Why-choose-us------------------------------------*/
.Why-choose-us .why-choose-us-left{
	position:relative;
	margin-top:-150px;
}

.Why-choose-us .why-choose-us-left h3{
	font-size:60px;
	font-family: MYROID PRO;
	text-transform:uppercase;
	color:#000;
}
.Why-choose-us .why-choose-us-left h5{
	font-size:18px;
	font-family: MYROID PRO;
	color:#000;
}
.Why-choose-us .why-choose-us-left ul{
    list-style:none;
	margin-left:-40px;
	margin-top:40px;
}
.Why-choose-us .why-choose-us-left img{
	height:40px;
}
.Why-choose-us .why-choose-us-left li{
	margin:20px 0;
}
.Why-choose-us .why-choose-us-left p{
	margin-left:20px;
	display:inline;
	color:#000;
	font-size:18px;
}
.Why-choose-us .why-choose-us-left span{
	display:block;
	margin-left:55px;
	margin-top:-15px;
}

.Why-choose-us .why-choose-us-right{
	position:relative;
	margin-top:-163px;
	float:right;
	margin-right:50px;
}
.Why-choose-us .bground{
	height:591px;
    background-image: url("../images/bg1.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	transform:rotate(8deg);
	position:relative;
	margin-top:-120px;
}
.Why-choose-us .free-quote{
	width:585px;
	height:641px;
	background-color:#2c70ce;
	border:none;
	transform:rotate(-8deg);
	float:right;
}
.Why-choose-us .free-quote h2{
	font-size:60px;
	color:#fff;
	font-family: MYROID PRO;
	text-transform:uppercase;
}
.Why-choose-us .free-quote p{
	font-size:14px;
	color:#fff;
	font-family: MYROID thin;
	width:80%;
	margin-top:20px;
}
.Why-choose-us .free-quote input{
	background-color:transparent;
	border:2px solid #fff;
	border-top:0;
	color:#fff;
	height:59px;
	width:235px;
	margin-top:30px;
}
.Why-choose-us .free-quote ::placeholder{
	color:#fff;
	padding-left:25%;
	font-family: MYROID thin;
}
.Why-choose-us .free-quote .email{
    width:475px;
	height:58px;
	background-color:transparent;
	border:2px solid #fff;
	margin:10px 0;
	border-radius:0px;
	font-family: MYROID thin;
}
.Why-choose-us .free-quote .message{
    width:475px;
	height:122px;
	background-color:transparent;
	border:2px solid #fff;
	margin:22px 0;
	border-radius:0px;
	font-family: MYROID thin;
}
.Why-choose-us .free-quote textarea{
	color:#fff;
	font-family: MYROID thin;
}
.Why-choose-us .free-quote button{
	color:#2c70ce;
	font-size:18px;
	width:189px;
	height:54px;
	border-radius:0;
	margin-top:15px;
	font-family: MYROID thin;
}
.Why-choose-us .free-quote button:hover{
	color:#000;
}
.Why-choose-us .free-quote article{
	margin:60px 0 0 52px;
}

/*Why-choose-us closed*/

/*--------------------What-client-say------------------------*/
.What-client-say .title h3{
	text-align:center;
	color:#000;
	font-size:60px;
	font-family: MYROID PRO;
}
.What-client-say .title{
	margin-top:150px;
}
.What-client-say .title span{
	display:block;
	font-size:30px;
	color:#bdbdbd;
	font-family: MYROID thin;
	margin-top:10px;
}
.What-client-say .client-section{
	text-align:center;
	background-color:#f3f3f3;
}
.What-client-say .client-section h3{
	font-size:24px;
	color:#000;
	font-family: MYROID thin;
	font-weight:bold;
	margin-top:45px;
}
.What-client-say .client-section span{
	display:block;
	font-size:14px;
	color:#919191;
	margin-top:5px;
}
.What-client-say .client-section i{
	color:#2c70ce;
	font-size:40px;
	margin:10px 0;
}
.What-client-say .client-section p{
	color:#787878;
	font-size:12px;
	width: 83%;
    margin: 0 auto;
	margin-top:15px;
	font-family: MYROID thin;
}
.What-client-say .client-section{
	padding:60px 0;
	margin-top:80px;
}
/*What-client-say-closed*/



/*================----------Responsive-----------=================================*/
@media screen and (max-width:1232px) and (min-width: 992px){
	/*--============header-SECTION1==================--*/
.container{width:100%;}
header .subheader h3 {
    font-size: 44px;
}
header .nav-mid {
    margin-top: 19px;
}
header .nav-rite button {
    width: 133px;
}
header .nav-rite li {
    margin: 0px 6px;
}
header .nav-rite {
    margin-top: 15px;
}

/**/
/**plumb-force**/
.blue-box .blue-box-left h3 {
    font-size: 46px;
}
.blue-box .blue-box-left span {
    font-size: 36px;
}
.blue-box .blue-box-left p {
    margin-top: 24px;
}
.blue-box .blue-box-right .img-col {
    margin: 35px 0 0 0;
}


.blue-box {
    width: 900px;
	margin-left: 30px;
}
.blue-box .blue-box-right .img-col h5 {
    width: 95%;
}
.blue-box .blue-box-right .img-col {
    margin: 48px 0 0 0;
}
/**/

/*-------------------------why-choose-us--------------------------------*/
.Why-choose-us .why-choose-us-left h3 {
    font-size: 50px;
}

.Why-choose-us .why-choose-us-right {
    margin-top: -142px;
}
.Why-choose-us .why-choose-us-left {
    position: relative;
    margin-top: -121px;
}
.Why-choose-us .why-choose-us-left h5 {
    font-size: 16px;
}
.Why-choose-us .why-choose-us-left p {
    font-size: 15px;
}
.Why-choose-us .why-choose-us-left span {
    margin-left: 50px;
    margin-top: -13px;
}
.Why-choose-us .bground {
    margin-top: -182px;
}
.Why-choose-us .free-quote {
    width: 450px;
    height: 500px;
}
.Why-choose-us .free-quote h2 {
    font-size: 50px;
}
.Why-choose-us .free-quote p {
    margin-top: 15px;
}
.Why-choose-us .free-quote .email {
    width: 355px;
    height: 45px;
}
.Why-choose-us .free-quote .message {
    width: 356px;
    height: 73px;
    margin: 14px 0;
}
.Why-choose-us .free-quote input {
    height: 45px;
    width: 175px;
    margin-top: 0px;
}
.Why-choose-us .free-quote article {
    margin: 46px 0 0 52px;
}
.What-client-say .title span {
    display: block;
    font-size: 24px;
}
.What-client-say .title h3 {
    font-size: 50px;
}
/**/
}


@media screen and (max-width:991px) and (min-width: 768px){
	/*--============header-SECTION1==================--*/
.container{width:100%;}
header .subheader h3 {
    font-size: 40px;
}
header .nav-mid {
    margin-top: 19px;
}
header .nav-mid li {
    font-size: 12px;
    margin: 0 4px;
}
header .nav-rite button {
    width: 108px;
}
.logo img{
	width:85%;
}
header .nav-rite li {
    margin: 0px 4px;
    font-size: 12px;
}
header .nav-rite {
    margin-top: 15px;
}

/**/
/**plumb-force**/
.blue-box .blue-box-left h3 {
    font-size: 40px;
}
.blue-box .blue-box-left span {
    font-size: 30px;
}
.blue-box .blue-box-left p {
    margin-top: 18px;
    font-size: 12px;
}
.blue-box .blue-box-right .img-col {
    margin: 35px 0 0 0;
}

.blue-box .blue-box-left {
    margin-left: 12px;
}
.blue-box {
    width: 735px;
	height: 567px;
    margin-left: 8px;
}.blue-box .blue-box-right .btn-col button {
    width:120px;
	height:50px;
	position: relative;
    right: -56px;
    top: 17px;
}
.blue-box .blue-box-right {
    margin-top: 28px;
}

.blue-box .blue-box-right .img-col h5 {
    width: 100%;
	font-size:16px;
}
.blue-box .blue-box-right .img-col {
    margin: 48px 0 0 0;
}

/**/

/*-------------------------why-choose-us--------------------------------*/
.Why-choose-us .why-choose-us-left h3 {
    font-size: 36px;
}

.Why-choose-us .why-choose-us-right {
    margin-top: -142px;
}
.Why-choose-us .why-choose-us-left {
    margin-top: -98px;
}
.Why-choose-us .why-choose-us-left h5 {
    font-size: 14px;
}
.Why-choose-us .why-choose-us-left p {
    font-size: 11px;
}
.Why-choose-us .why-choose-us-left span {
    margin-left: 50px;
    margin-top: -13px;
}
.Why-choose-us .bground {
    margin-top: -182px;
}
.Why-choose-us .free-quote {
    width: 450px;
    height: 500px;
}
.Why-choose-us .free-quote h2 {
    font-size: 50px;
}
.Why-choose-us .free-quote p {
    margin-top: 15px;
}
.Why-choose-us .free-quote .email {
    width: 355px;
    height: 45px;
}
.Why-choose-us .free-quote .message {
    width: 356px;
    height: 73px;
    margin: 14px 0;
}
.Why-choose-us .free-quote input {
    height: 45px;
    width: 175px;
    margin-top: 0px;
}
.Why-choose-us .free-quote article {
    margin: 46px 0 0 52px;
}
.What-client-say .title span {
    display: block;
    font-size: 20px;
}
.What-client-say .title h3 {
    font-size: 40px;
}
.Why-choose-us .bground {
    margin-top: -147px;
}
.What-client-say .title {
    margin-top: 75px;
}
/**/
}


@media screen and (max-width:767px) and (min-width: 620px){
	/*--============header-SECTION1==================--*/
.container{width:100%;}
header .subheader h3 {
    font-size: 30px;
}
.blue-box .blue-box-left h3 {
    font-size: 30px;
}
.blue-box .blue-box-left span {
    font-size: 24px;
}
.blue-box .blue-box-left p {
    font-size: 14px;
    width: 38%;
}
.blue-box {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 57%);
    clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 100%);
    background-color: #2c70ce;
    height: 690px;
}
.blue-box .blue-box-right .img-col {
    margin: 20px 0;
}
.blue-box .blue-box-right .img-col h5 {
    width: 100%;
}
.blue-box .blue-box-left {
    margin-left: 0;
    margin-top: 0;
}
.Why-choose-us .why-choose-us-left {
    margin-top: 0;
}
.Why-choose-us .why-choose-us-left h3 {
    font-size: 30px;
}
.Why-choose-us .why-choose-us-left h5 {
    font-size: 16px;
}
.Why-choose-us .why-choose-us-left p {
    margin-left: 23px;
    font-size: 14px;
}
.Why-choose-us .why-choose-us-right {
    position: relative;
    margin-top: 0;
}
.Why-choose-us .free-quote {
    width: 410px;
    height: 500px;
}
.Why-choose-us .free-quote h2 {
    font-size: 36px;
}
.Why-choose-us .free-quote p {
    font-size: 12px;
    width: 80%;
    margin-top: 14px;
}
.Why-choose-us .free-quote input {
    height: 40px;
    width: 139px;
    margin-top: 5px;
}
.Why-choose-us .free-quote .email {
    width: 283px;
    height: 40px;
}
.Why-choose-us .free-quote .message {
    width: 284px;
    height: 74px;
    margin: 16px 0;
}
.Why-choose-us .free-quote button {
    width: 140px;
    height: 48px;
    margin-top: 5px;
}
.Why-choose-us .bground {
    margin-top: -160px;
}
.What-client-say .title {
    margin-top: 85px;
}
.What-client-say .title h3 {
    font-size: 40px;
}
.What-client-say .title span {
    font-size: 20px;
}
}

@media screen and (max-width:619px) and (min-width: 320px){
	/*--============header-SECTION1==================--*/
.container{width:100%;}
header .subheader h3 {
    font-size: 30px;
}
.logo img{
	width:70%;
}
header .nav-mid li {
    font-size: 12px;
}
header .nav-rite li {
    font-size: 12px;
    margin: 0 3px;
}
.blue-box .blue-box-right .btn-col button {
    background-color: #fff;
    border-radius: 0;
    width: 120px;
}

.blue-box .blue-box-left h3 {
    font-size: 20px;
}
.blue-box .blue-box-left span {
    font-size: 18px;
}
.blue-box .blue-box-left p {
    font-size: 12px;
    width: 22%;
}
.blue-box {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 57%);
    clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 100%);
    background-color: #2c70ce;
    height: 690px;
}
.blue-box .blue-box-right .img-col {
    margin: 20px 0;
}
.blue-box .blue-box-right .img-col h5 {
    width: 100%;
}
.blue-box .blue-box-left {
    margin-left: 0;
    margin-top: 0;
}
.Why-choose-us .why-choose-us-left {
    position: relative;
     margin-top: 0px;
}
.Why-choose-us .why-choose-us-left h3 {
    font-size: 30px;
}
.Why-choose-us .why-choose-us-left h5 {
    font-size: 13px;
}
.Why-choose-us .why-choose-us-left p {
    font-size: 8px;
}
.Why-choose-us .why-choose-us-left span {
    margin-left: 51px;
}
.Why-choose-us .why-choose-us-right {
    margin-top: 0;
}
.Why-choose-us .why-choose-us-right img {
    width:70%;
}
.Why-choose-us .why-choose-us-right {
    position: relative;
    margin-top: 0;
}
.Why-choose-us .free-quote {
    width: 410px;
    height: 500px;
}
.Why-choose-us .free-quote h2 {
    font-size: 36px;
}
.Why-choose-us .free-quote p {
    font-size: 12px;
    width: 80%;
    margin-top: 14px;
}
.Why-choose-us .free-quote input {
    height: 40px;
    width: 152px;
    margin-top: 5px;
}
.Why-choose-us .free-quote .email {
    width: 153px;
    height: 40px;
}
.Why-choose-us .free-quote .message {
    width: 153px;
    height: 74px;
    margin: 16px 0;
}
.Why-choose-us .free-quote button {
    width: 100px;
    height: 40px;
	font-size:14px;
    margin-top: 5px;
}
.Why-choose-us .free-quote {
    width: 277px;
    height: 510px;
}
.Why-choose-us .free-quote article {
    margin: 36px 0 0 52px;
}
.What-client-say .title {
     margin-top: 50px;
}
.What-client-say .title h3 {
    font-size: 30px;
}
}
.footer-top {background:#2c70ce; height:205px; padding: 60px 0 0;}
.footer-top p{font-family: MYROID thin; font-size:18px; color:#fff; line-height:30px; padding-left:70px;}
.footer-top h4{font-family: MYROID thin; font-size:30px; color:#fff; line-height:30px; text-transform:uppercase; border-left:1px solid #fff;
 padding: 0 0 0 55px;    margin: -13px 0 0;}
.footer-top h4 span	{font-family: 'Ubuntu', sans-serif; display:block;font-weight:700; font-size:48px;padding-top:8px;}


.footer {background:#1e65c6 url(../images/f-b_02.png) no-repeat center; height:365px;background-size:cover;padding:35px 0 20px;}
.footer .widget .widget-title {font-family: 'Open Sans', sans-serif; font-size:24px; color:#fff;  margin-top:5px; font-weight:400;margin-bottom: 30px;
border-bottom:1px solid #cdcdcd;padding-bottom:10px;}
.footer p {font-family: 'Open Sans', sans-serif; font-size:15px; font-weight:300; color:#fff; line-height:24px;margin-top:22px;}
.border-right {padding-right: 85px; padding-left:70px;}

.footer .f-center-area {padding-left: 0px;}
.footer h6 {margin:0 0 30px;font-family: 'Open Sans', sans-serif;font-size:15px; font-weight:300; color:#fff; clear:both;}
.footer .f-center-area h6 svg {color: #fff; float: left; font-size: 40px;  padding-right: 19px; transition-duration:0.3s;margin: -10px 0 10px;}
.footer .f-center-area h6:hover svg {color:#fff;}
.footer .f-center-area h5 {margin:0px;font-family: 'Open Sans', sans-serif;font-size:16px; font-weight:400; color:#fff;}
.footer .f-center-area h5 span {padding-right: 10px;}
.footer .f-center-area h5 svg {text-align:center;line-height:28px;color:#485992;margin-left:8px;
transition-duration:0.3s;font-size: 28px;}
.footer .f-right-area h6 {margin:0 0 15px;}
.footer .f-right-area p {margin-top:0;}
.footer .f-center-area h5 svg:hover {background:#fff;}

.footer input {height:32px; background:transparent; border:none; width:100%; border-radius:4px;margin-bottom:5px;border-bottom:1px solid #fff;border-radius:0;
color:#fff !important;}

.footer input::placeholder{
	color:#fff;	
}